.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post, .post__form {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
}

#myFile {
    margin-top: 2em;
}

.post__component, .post__form {
    margin: 5em;
}