.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post, .postForm {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
}

#myFile {
    margin-top: 2em;
}



.posttags {
    display: flex;
    flex-flow: row wrap;
}

.posttag {
    width: 10em;
}